
#viewContainer {
    display: grid;
    grid-template-columns: 50vw 42vw;
    grid-template-rows: 6vw 40vw;
    margin-top: 88px;
    margin-bottom: 8vw;
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.1vw 1vw #d1d1d1;
}

#menuBar {
    display: flex;
    align-items: flex-end;
    background-color: #3af0b0;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

    #menuBar input {
        display: block;
        height: 68%;
        width: 10vw;
        border: none;
        border: 1px solid #8f7a42;
        border-bottom: none;
        margin-right: 0.5vw;
        font-size: 1.5vw;
        transition-duration: 0.25s;
    }

        #menuBar input:hover {
            cursor: pointer;
            border: 5px solid #8f7a42;
            border-bottom: none;
            height:80%;
            width:12vw;
        }
        /*#menuBar input:focus {
            background-color: green;
        }*/

.info {
    padding: 2vw;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.preview {
    padding: 2vw;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-left: 2px dotted gray;
}

/*USER LIST*/
#listUserView {
    padding: 20px;
    grid-row: 2 / span 1;
}
    #inpFilter {
        display:block;
        margin-top: 3vw;
        width: 85%;
        padding: 0.5vw;
        margin-left: auto;
        margin-right: auto;
    }
    #listBoxUser {
        display: block;
        width: 85%;
        margin-top:0.5vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5vw;
        height: 15vw;
    }
    #listUserMessages{
        width:85%;
        height:10vw;
    }
#removeUserBtn {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
}


.orderFlag::after {
    content: "<< Đã đặt !";
    background-color: greenyellow;
}
.borrowedFlag::after {
    content: "[Đã mượn]";
    background-color: orange;
}
.allOutFlag::after {
    content: "[Đã Hết] ";
    background-color: gray;
}


/*BorBook Page*/
#listBorUser {
    height: 40%;
    width: 30%;
}
#listBorBook {
    height: 40%;
    width: 68%;
    overflow:scroll;
}
#borViewUserFilter {
    width: 30%;
}
#borViewBookFilter {
    width: 68%;
}
#borViewUserFilter, #borViewBookFilter{
    margin-bottom:0.5vw;
}
    /*PRE VIEW BOOK*/
    #previewBook {
        display: grid;
        grid-template-columns: 50% 50%; /* containter's col 2 45vw*/
        grid-template-rows: 15% 85%;
    }

    #previewBook h2 {
        grid-column: 1/span 2;
        grid-row: 1 / span 1;
    }

    #previewBook #inforPreviewBook {
        grid-column: 1/ span 1;
        grid-row: 2 / span 1;
    }

        #previewBook #previewPicBook {
            max-height: 85%;
            max-width: 100%;
            grid-column: 2/ span 1;
            grid-row: 2 / span 1;
        }

    #previewBook #borBookMessage {
        grid-column: 1/ span 2;
        grid-row: 3 / span 1;
    }

/*PREVIEW User*/
#previewUser {
    border-left: 1px solid black;
}

    #previewUser #preUserInfo {
        font-size: 1.25vw;
        width: 85%;
        height: 60%;
        padding-top: 1.5vw;
        margin-left: auto;
        margin-right: auto;
        overflow:auto;
    }
    #previewUser #editUser, #saveUser {
        display: block;
        width: 10vw;
    }


#previewUserBook {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 15%;
    width: 85%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw;
    justify-content: space-between;
    align-content: space-between;
}

#previewUser #previewUserBook #userListBorBook {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    overflow:auto;
}

#previewUser #previewUserBook #returnBookBtn {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    display: block;
}
/*Prebook right side*/
#previewUser #previewUserBook #previewUserBookPic {
    grid-column: 2/ span 1;
    grid-row: 1/ span 2;
    max-height: 100%;
    max-width: 100%;
    margin-left:1vw;
}
/*BÊN PHẢI - ADD BOOK */
#newBook{
   
}
#removeBorBookTable {
    margin-top: 1vw;
    border-collapse: collapse;
    display: block;
    height: 15vw;
    overflow: auto;
}
    #removeBorBookTable tbody {
        display: block;
        width:90%;
        margin-right: auto;
        margin-left: auto;
    }
    #removeBorBookTable th {
        font-size: 1.25vw;
        background-color: aquamarine;
    }
    #removeBorBookTable td, #removeBorBookTable th {
        border: 2px solid #759c91;
        padding: 0.25vw;
    }
#addBorBook {
    border: 5px solid pink;
    padding:1.25vw;
}

/*************************         For mobile:         **************************/

@media only screen and (max-width: 768px) {

    #viewContainer {
        display: grid;
        grid-template-columns: 92vw;
        grid-template-rows: 6vh 40vh 60vh;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    #menuBar {
        display: flex;
        align-items: flex-end;
        background-color: #3af0b0;
        grid-column: 1 / span 1;
    }

        #menuBar input {
            height: 68%;
            width: 20vw;
            font-size: 3vw;
        }
            #menuBar input:hover {
                cursor: pointer;
                border: 1px solid #8f7a42;
                border-bottom: none;
                height: 68%;
                width: 20vw;
            }
    .info {
        padding: 2vw;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        font-size:4vw;
    }
 
    .preview {
        padding: 2vw;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        border-left:none;
        border-top: 2px dotted gray;
    }


    /*USER LIST*/
    #listUserView {
        padding: 2vh;
        grid-row: 2 / span 1;
    }
    #listBoxUser {
        height: 18vh;
        width: 90%;
    }
    #removeUserBtn {
        font-size: 4vw;
    }
    #inpFilter {
        margin-top: 1.5vh;
        width: 90%;
        padding: 0.5vw;
        margin-left: auto;
        margin-right: auto;
    }
    #removeUserBtn {
        width: 90%;
        margin-top: 1vw;
    }
    #listUserMessages{

    }
    /*BorBook Page*/
    #borrowBook {
        height: 100%;
    }
    #listBorUser {
        height: 35%;
    }
    #listBorBook {
        height: 35%;
    }
    #borrowMessages {
        height:15%;
        overflow:auto;
    }
    /*PREVIEW User*/
    #previewUser {
        border-left: none;
        border-top: 1px dotted black;
    }
        #previewUser #preUserInfo {
            overflow: scroll;
        }

        #previewUser #editUser, #saveUser {
            display: block;
            width: 18vw;
            font-size: 4vw;
        }


    #previewUser #previewUserBook #returnBookBtn {
        font-size:4vw;
    }
    #previewUser #previewUserBook #previewUserBookPic {
        margin-left: 2vw;
    }
}