/*BOOKS*/
#bookContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start; /*items các đều nhau một khoảng theo chiều ngang*/
    align-items: center; /*items sẽ nằm ở chính giữa dòng của nó, theo chiều dọc*/
    align-content: flex-start; /*dồn nội dung lên trên*/
    height: 100%;
    min-height: 66vw;
    width: 100%;
    padding: 2vw;
    grid-column: 2 / span 1;
    grid-row: 2 /span 1;
    background-color: white;
}

.book {
    border: 1px solid lightgray; 
    position: relative;
    width: 13vw;
    height: 20vw;
    font-size: 12px;
    margin-bottom: 0.1vw;
    margin-right:1.5vw;
    overflow: hidden;
    transition-duration:0.25s;
}
    .book:hover{
        transform:scale(1.05,1.05);
    }
    .book .bookPic {
        /* border: 1px solid pink; */
        padding: 0.1vw;
        height: 80%;
    }
        .book .bookPic img {
            display: block;
            margin: auto;
            max-width: 10.5vw;
            max-height: 100%;
        }
    .book .bookInfo .bookTitle {
       padding: 0;
       margin: 0; 

    }
        .book .bookInfo .bookTitle a {
            display:block;
            font-size: 1vw;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
        }
