#container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 6vw auto;
    width: 92vw;
    height: 40vw;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.1vw 0.5vw #d1d1d1;
}

#containerTitle {
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 1 /span 1;
    background-color: #3af0b0;
    box-shadow: 0 0.1vw 0 #d1d1d1;
    padding-left: 2vw;
    font-size: 2vw;
    line-height: 6vw;
}

#content {
    grid-column: 1 / span 5;
    grid-row: 2 /span 1;
    padding: 3vw;
    font-size: 1.2vw;
}

    #content label{
        font-weight: bold;
        font-size: 1.4vw;
    }

@media only screen and (max-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 6vh 40vh;
        margin-top: 2vh;
    }

    #containerTitle {
        padding-left: 2vw;
        font-size: 4vw;
        line-height: 6vh;
    }
    #content {
        padding: 3vw;
        font-size: 3vw;
    }
        #content label {
            font-weight: bold;
            font-size: 3vw;
        }
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}