* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 250;
    color: black;
    font-size: 1.2vw;
}
input[type=submit]{
    cursor:pointer;
    font-size:1.4vw;
}

body{
    margin:0;

}
/*Navigation Bar*/
.navBar {
    background-image: linear-gradient(to left top, #12e6a6, #21ad83);
    position: relative;
    height: 200px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25vw;
    box-shadow: 0  0 8px #b3b3b3;
}

    .navBar .logoLink {
        float: left;
        position: absolute;
        display: inline-block;
        height: 100%;
        transform: rotate(-12deg) translate(-88px,25px);
    }

    .navBar img {
        height: 100%;
        box-shadow: 0  0 8px #d1d1d1;
    }

    .navBar .navMenu {
        /* Standard syntax (must be last) */
        display: flex;
        align-items: flex-end;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding-left: 6vw;
    }

        .navBar .navMenu li {
            display: block;
            height: 68px;
            width: 200px;
            margin-left: 1.5vw;
            margin-bottom: 0.5vw;
        }

            .navBar .navMenu li a {
                background-color: #219673;
                color:#695a33;
                border: 0.1vw solid white;
                border-radius: 0.5vw;
                display: inline-block;
                height: 68px;
                width: 100%;
                position: relative;
                /*text in side*/
                font-size: 1.8vw;
                line-height: 68px;
                text-align: center;
            }
            .navBar .navMenu li a:hover{
                color:black;
                border: 0.2vw solid #8f7a42;
            }
        #userNav {
            font-size: 1.2vw;
            position: absolute;
            top: 0.1vw;
            right: 0.1vw;
        }
        #userNav a{
            display: inline-block;
        }
        #headerLoginBox {
            font-size: 1.2vw;
            position: absolute;
            top: 0.1vw;
            right: 0.1vw;
        }
/*FOOTER*/
footer {
    bottom: 0;
    margin-top: 20vh;
    padding: 10px;
    font-size: 20px;
    height: 100px;
    background-image: linear-gradient(to bottom right, #25dba2, #2febb0);
}

/*For mobile:*/
 @media only screen and (max-width: 768px) {
    * {
        font-weight: 250;
        font-size: 3vw;
    }
    input[type=submit] {
        cursor: pointer;
        font-size: 2.5vw;
    }
        .navBar{
            width:90%;
            height:15vh;
        }
        .navBar .logoLink {
            transform: rotate(-0deg) translate(0,0);
            max-width:25%;
        }

            .navBar .navMenu {
                position: absolute;
                right: 0;
                width: 75%;
                flex-wrap: wrap;
                /*Standard syntax (must be last);*/
                align-items: center;
                justify-content: flex-start;
                align-content: space-around;
                padding-left: 0;
            }
            .navBar .navMenu li {
                display: block;
                height: 40%;
                width: 30%;
                margin-left: 5vw;
            }
                .navBar .navMenu li a {
                    background-color: lightgreen;
                    font-size: 3vw;
                    height: 100%;
                    line-height: 400%;
                }
        #userNav a {
            display:block;
        }
        footer {
        margin-top: 12vh;
        height: 8vh;
        background-image: linear-gradient(to bottom right, #25dba2, #2febb0);
    }
} 