#bodyDiv {
    display: grid;
    width: 94vw;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 17vw 77vw;
    grid-template-rows: 6vw auto 3vw;
    border: 0 1vw 1vw 0;
}

#searchBar {
    background: linear-gradient(90deg, rgba(132,217,187,1) 0%, rgba(0,242,167,1) 62%);
    grid-column: 2 / span 1;
    grid-row: 1 /span 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    z-index: 2;
}

    #searchBar #searchTextBox {
        border-radius: 1.5vw;
        border: 0.1vw solid #c4c2bc;
        width: 38vw;
        height: 2.5vw;
        display: inline-block;
        margin-right: 1vw;
        padding-left: 20px;
    }

    #searchBar #searchBtn {
        display: inline-block;
        width: 7vw;
        height: 2.5vw;
    }

#categoryArea {
    background-color: white;
    grid-column: 1 / span 1;
    grid-row: 1 /span 2;
    box-shadow: 0.1vw  0 5px #d1d1d1;
    z-index: 1;
}

    #categoryArea #titleCategory {

        background-color: #59ba98;
        display: inline-block;
        font-size: 20px;
        text-align: center;
        height: 6vw;
        line-height: 6vw;
        width: 100%;
    }

    #categoryArea #categoryCheckList {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }

    #categoryArea #removeCheck {
        display: block;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

#pageNav {
    
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 3 /span 1;
    justify-content: center;
    align-content: center;
}

    #pageNav input {
        display: block;
        text-align: center;
        height: 80%;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    #inpPage{
        width: 3vw;
    }
