#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92vw;
    height: 40vw;
    border: 1px solid gray;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
}

#containerTitle {
    position: relative;
    background-color: #3af0b0;
    box-shadow: 0 0.1vw 0 #d1d1d1;
    padding-left: 2vw;
    font-size: 1.4vw;
    line-height: 6vw;
    height: 6vw;
    width: 100%;
}

#loginBox {
    margin-top: 5vw;
    font-size: 1.8vw;
}

    #loginBox input {
        width: 15vw;
        height: 3vw;
    }

    #loginBox td {
        padding: 0.5vw;
    }

    #loginBox button {
        width: 8vw;
        height: 3vw;
    }
@media only screen and (max-width: 768px) {
    #loginContainer {
        height: 30vh;
        margin-top: 3vh;
    }

    #containerTitle {
        padding-left: 5vw;
        font-size: 5vw;
        line-height: 5vh;
        height: 5vh;
    }

    #loginBox {
        margin-top: 2vh;
    }

        #loginBox input {
            font-size: 4vw;
            width: 40vw;
            height: 4vh;
        }

        #loginBox td {
            padding: 0.5vw;
            font-size: 4vw;
        }
            #loginBox td label {
                font-size: 4vw;
            }

            #loginBox button {
                width: 15vw;
                height: 4vh;
            }
      footer{
          position:fixed;
          width:100%;
          bottom:0;
      }

}